<%= form_tag(sessions_path, :class => 'form-horizontal') do %>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>login</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <%= label_tag :email, nil, :class => "control-label" %>
            <div class="controls">
                <%= text_field_tag :email, params[:email] %>
            </div>
        </div>
        <div class="control-group">
            <%= label_tag :password, nil, :class => "control-label" %>
            <div class="controls">
                <%= password_field_tag :password %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <%= submit_tag("log in", :class => 'btn btn-primary') %>
    </div>
<% end %>