<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>photo details</h3>
</div>
<div class="modal-body">
    <div id="exif">
        <div class="exif-label">viewed:</div><div class="exif-data"><%= h @photo.views %> times&nbsp;</div>
        <div class="exif-label">aperture:</div><div class="exif-data"><%= h @photo.aperture %>&nbsp;</div>
        <div class="exif-label">date:</div><div class="exif-data"><%= h @photo.photo_at %>&nbsp;</div>
        <div class="exif-label">iso:</div><div class="exif-data"><%= h @photo.iso %>&nbsp;</div>
        <div class="exif-label">mode:</div><div class="exif-data"><%= h @photo.exposure_mode %>&nbsp;</div>
        <div class="exif-label">photographer:</div><div class="exif-data"><%= h @photo.artist %>&nbsp;</div>
        <div class="exif-label">flash:</div><div class="exif-data"><%= h @photo.flash %>&nbsp;</div>
        <div class="exif-label">focal length:</div><div class="exif-data"><%= h @photo.focal_length %>&nbsp;</div>
        <div class="exif-label">compensation:</div><div class="exif-data"><%= h @photo.exposure_compensation %>&nbsp;</div>
        <div class="exif-label">shutter speed:</div><div class="exif-data"><%= h @photo.shutter_speed %>&nbsp;</div>
        <div class="exif-label">camera model:</div><div class="exif-data"><%= h @photo.camera_model %>&nbsp;</div>
    </div> <!-- end #exif -->
</div>