<% form_for @photo, :html => { :multipart => true } do |f| %>

<%= f.error_messages %>
<p/>
<%= f.text_field(:gallery_id) %>
<table cellspacing="0" cellpadding="3" border="0">
    <tr>
        <td><%= f.label(:artist) %></td>
        <td><%= f.text_field(:artist) %></td></tr>
    <tr>
        <td><%= f.label(:source, 'File2') %></td>
        <td><%= f.file_field(:source) %></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td class="submit"><%= f.submit(@photo.id ? 'update' : 'create') %></td></tr>
</table>

<% end %>