<h1>Editing photo</h1>

<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :gallery_id %><br />
    <%= f.text_field :gallery_id %>
  </p>
  <p>
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :img %><br />
    <%= f.text_field :img %>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>