<div id="gallery_info">
  <span class="name"><%= @gallery.name %></span>
  <span class="info">
    <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
  </span>
</div>
<p class="clear"/>

<h1>add photos</h1>

<% form_for([@gallery,@photo], :html => { :multipart => true }) do |f| %>
    <%= render(:partial => 'form',  :locals => {:f => f}) %>
<% end %>

<%= render(:partial => 'galleries/thumbnails') %>

<%= link_to('more', new_gallery_photo_path(@gallery)) %> |
<%= link_to('done', gallery_path(@gallery)) %>