<div id="gallery_info">
  <span class="name"><%= @gallery.name %></span>
  <span class="info">
    <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
  </span>
</div>
<p class="clear"/>

<%= render(:partial => 'gallery/thumbnails') %>

<div id="thumbnails">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <% for p in @gallery.photos %>
        <td>
        <div class="thumbnail">
          <%= image_tag(p.source_thumb_url, :title => p.filename) %>
        </div></td>
      <% end %>
    </tr>
  </table>
</div>

<h1>add photos</h1>

<%= link_to_function('toggle', 'toggle_photo_form()') %>

<div id="one_photo" style="display:none">
  <% form_for([@gallery,@photo], :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %><br />
    <%= f.label(:artist) %>
    <%= f.text_field(:artist) %><br />
    <%= f.label(:caption) %>
    <%= f.text_field(:caption) %><br />
    <%= f.label(:source, 'File2') %>
    <%= f.file_field(:source) %><br />
    <%= f.submit('add') %>
  <% end %>
</div>

<div id="bunch_photo">
  <% form_tag(add_gallery_photos_path(@gallery)) do -%>
    <%= label_tag(:artist) %>
    <%= text_field_tag(:artist) %><br />
    <%= label_tag('file names') %>
    <%= text_area_tag(:file_names, nil, :size => '35x15') %><br />
    <%= submit_tag('add') %>
  <% end -%>
</div>