<div class="row">
    <div class="col">
        <span class="gallery-name"><%= @gallery.name %></span>
        <span class="gallery-date"><%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %></span>
    </div>
</div>

<% if @gallery.photos.count > 0 %>
    <div class="row">
        <div class="col">
            <h4><%= @gallery.photos.count %> existing photos</h4>
            <div class="gallery-horiz-thumbnails">
                <% @gallery.photos.each do |p| %>
                    <%= image_tag(p.img_url(:thumb), size: '80x80', class: 'thumbnail', title: p.img.filename) unless p.img.blank? %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col">
        <h4>add new photos here</h4>
        <%= render partial: 'add_photos' %>
    </div>
</div>

<div class="row progress-container d-none">
    <div class="col-sm-2">
        <div id="upload-progress-label">uploading...</div>
    </div>
    <div class="col-sm-10">
        <div class="progress mb-2">
            <div id="upload-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
    </div>
</div>
<div class="row progress-container d-none">
    <div class="col-sm-2">
        <div id="process-progress-label">processing...</div>
    </div>
    <div class="col-sm-10">
        <div class="progress mb-2">
            <div id="process-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
    </div>
</div>
