<div id="gallery-info">
    <span class="name"><%= @gallery.name %></span>
    <span class="info">
        <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
    </span>
</div>

<h1 id="foobar">add photos</h1>

<%= form_tag(gallery_photos_path(@gallery, format: :js), id: 'upload-form', enctype: 'multipart/form-data') do %>
    Drop files here:<br>
    <div id="photos-file-input">
        <%= file_field_tag('photos[]', multiple: true, accept: 'image/png,image/gif,image/jpeg') %>
    </div>

    <div id="upload-buttons" class="invisible form-group row justify-content-end">
        <div class="col-4">
            <%= submit_tag('upload', class: 'btn btn-primary') %>
            <button type="button" class="btn btn-secondary">cancel</button>
        </div>
    </div>
<% end %>
