<div id="gallery_info">
  <span class="name"><%= @gallery.name %></span>
  <span class="info">
    <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
  </span>
</div>
<p class="clear"/>

<% if(@gallery.photos.size > 0) %>
  <%= render(:partial => 'galleries/thumbnails', :locals => { :edit => false, :link => false }) %>
<% end %>

<h1>add photos</h1>

<%= link_to_function('toggle', 'toggle_photo_form()') %>

<div id="one_photo" style="display:none">
  <% form_for([@gallery,@photo], :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %><br />
    <%= f.label(:artist) %><br />
    <%= f.text_field(:artist) %><p/>
    <%= f.label(:caption) %><br />
    <%= f.text_field(:caption) %><p/>
    <%= f.label(:source, 'File') %><br />
    <%= f.file_field(:source) %><p/>
    <%= f.submit('add') %>
  <% end %>
</div>

<div id="bunch_photo">
  <% form_tag(add_gallery_photos_path(@gallery)) do -%>
    <%= label_tag(:artist) %><br />
    <%= text_field_tag(:artist) %><p/>
    <%= label_tag('file names') %><br />
    <%= text_area_tag(:file_names, nil, :size => '35x20') %><p/>
    <%= submit_tag('add') %>
  <% end -%>
</div>