<div class="gallery-summary row">
    <div class="col-2">
        <%= default_photo(gallery) %>
    </div>
    <div class="col-10 gallery-summary-text">
        <%= link_to(gallery.name, gallery) %><br/>
        <%= gallery.photo_count %> photos :: <%= gallery.gallery_on.strftime("%b %d, %Y") %>
        <div>
            <% if policy(gallery).edit? %>
                <%= link_to(edit_gallery_path(gallery), data: {toggle: 'tooltip', placement: 'top'}, title: 'edit') do %>
                    <span class="icon-edit text-success"></span>
                <% end %>
                <%= link_to(new_gallery_photo_path(gallery), data: {toggle: 'tooltip', placement: 'top'}, title: 'add photos') do %>
                    <span class="icon-camera"></span>
                <% end %>
            <% end %>
            <% if policy(gallery).destroy? %>
                <%= link_to(gallery_path(gallery), method: :delete, data: {confirm: 'are you sure?', toggle: 'tooltip', placement: 'top'}, title: 'delete') do %>
                      <span class="icon-delete text-danger"></span>
                <% end %>
            <% end %>
            <%= link_to('sharing url', "#{root_url}#{gallery.private_key}") if gallery.private? %>
        </div>
    </div>
</div>
