<div id="thumbs" class="navigation">
    <ul class="thumbs noscript">
        <% for p in @gallery.photos %>
            <li>
                <% if link %>
                    <%= link_to(image_tag(p.img_url(:thumb), :title => p.read_attribute(:img)), p.img_url, :class => 'thumb') %>
                    <div class="caption">
						<%= p.caption %>
						<div class="download">
							<%= link_to('download', p.img_url) %>
							<div class="comment">
    							<%= link_to('comments', photo_comment_url(p)) %> -
    							<%= p.photo_comments.count %>
    						</div>
						</div>
						
					</div>
                <% else %>
                    <%= image_tag(p.img_url(:thumb), :title => p.caption) %>
                <% end %>
                <% if edit %>
                    <%= check_box_tag("remove[#{p.id.to_s}]") %>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>