<div class="row">
    <div class="col-md-6">
        <div class="card gallery-list">
            <h3 class="card-header bg-light">recent public galleries</h3>
            <div class="card-body">
                <% if @recent_galleries.present? %>
                        <%= render partial: 'summary', collection: @recent_galleries, as: :gallery %>
                <% else %>
                    none
                <% end %>
            </div>
        </div>
    </div> <!-- end .col-md-6 -->
    <div class="col-md-6">
        <div class="card bg-light gallery-list">
            <h3 class="card-header"><%= params[:q] ? 'search results' : 'my galleries' %></h3>
            <div class="card-body">
                <% if @galleries.present? %>
                        <%= render partial: 'summary', collection: @galleries, as: :gallery %>
                    <%= paginate(@galleries, window: 2, outer_window: 1) %>
                <% else %>
                    none
                <% end %>
            </div>
            <% if policy(Gallery).create? %>
                <div class="card-footer text-right">
                    <%= link_to('New Gallery', new_gallery_path, class: 'btn btn-primary') %>
                </div>
            <% end %>
        </div>
    </div> <!-- end .col-md-6 -->
</div> <!-- end .row -->
