<div class="row">
    <div class="col">
        <span class="gallery-name"><%= @gallery.name %></span>
        <span class="gallery-date">
            <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
            <% if policy(@gallery).edit? %>
                <%= link_to(edit_gallery_path(@gallery), data: {toggle: 'tooltip', placement: 'top'}, title: 'edit') do %>
                    <span class="icon-edit"></span>
                <% end %>
                <%= link_to(new_gallery_photo_path(@gallery), data: {toggle: 'tooltip', placement: 'top'}, title: 'add photos') do %>
                    <span class="icon-camera"></span>
                <% end %>
            <% end %>
        </span>
    </div> <!-- end #gallery-info -->
</div> <!-- end row -->

<div class="row">
    <div class="col-3">
        <div class="d-inline-flex flex-wrap gallery-thumbnails">
            <%= render(partial: 'thumbnails', collection: @photos, as: :p) %>
        </div><!-- end .gallery-thumbnails -->
    </div>
    <div class="col-9 gallery-photo-container">
        <%= render(partial: 'photos/show') %>
    </div> <!-- end .gallery-photo-container -->
</div> <!-- end row -->

<div id="gallery-popup" role="dialog" class="modal fade"></div>

<%= javascript_tag do %>
    // highlight first thumbnail
    $('img[data-sequence="<%= @photo.sequence %>"]').addClass('active');
<% end %>
