<div class="row">
    <div class="col gallery-info">
        <span class="name"><%= @gallery.name %></span>
        <span class="info">
            <%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %>
            <% if policy(Gallery).edit? %>
                <%= link_to(edit_gallery_path(@gallery), data: {toggle: 'tooltip', placement: 'top'}, title: 'edit') do %>
                    <span class="icon-edit"></span>
                <% end %>
            <% end %>
        </span>
    </div> <!-- end #gallery-info -->
</div> <!-- end row -->

<div class="row">
    <div class="col-3 gallery-thumbnails">
        <%= render(partial: 'thumbnails') %>
    </div> <!-- end .gallery-thumbnails -->
    <div class="col-9 gallery-photo-container">
        <%= render(partial: 'photos/show') %>
    </div> <!-- end .gallery-photo-container -->
</div> <!-- end row -->

<div id="gallery-popup" role="dialog" class="modal fade"></div>
