<h1>New photo_comment</h1>

<% form_for(@photo_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :photo_id %><br />
    <%= f.text_field :photo_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', photo_comments_path %>