<!DOCTYPE html>
<html>
  <head>
    <title>raceweb - photo</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="raceweb photo galleries"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
  </head>

<body>
    <div id="wrap">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


        <!-- old navbar
        <nav class="navbar navbar-fixed-top">

                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <%# link_to('raceweb photo', root_path, :class => 'brand') %>

                    <%# form_tag(galleries_path, :method => 'get', :class => 'navbar-search pull-left') do %>
                        <%# hidden_field_tag :direction, params[:direction] %>
                        <%# hidden_field_tag :sort, params[:sort] %>
                        <%# search_field_tag(:q, params[:q], :placeholder => 'find a gallery', :class => 'search-query') %>
                    <%# end %>

                    <div class="pull-right">
                        <ul class="nav">
                            <%# if current_user %>
                                <li><a href="#">Welcome, <%# "#{current_user.email}" %></a></li>
                                <li><%# link_to'logout', logout_path %></li>
                            <%# else %>
                                <li><a href="#">Welcome</a></li>
                                <li><%# link_to 'register', signup_path, :remote => true %></li>
                                <li><%# link_to 'login', login_path, :remote => true %></li>
                            <%# end %>
                        </ul>
                    </div>
                </div>

        </div>
        -->



        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <% flash.each do |key, value| %>
                        <div class="alert alert-block alert-<%= key == :notice ? "success" : key %>" data-dismiss="alert">
                            <a class="close">×</a>
                            <h4 class="alert-heading"><%= key.capitalize %>:</h4>
                            <%= value %>
                        </div>
                    <% end %>
                </div> <!-- end span12 -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- MAIN CONTENT -->
                    <%= yield %>
                    <!-- END MAIN CONTENT -->
                </div> <!-- end span12 -->
            </div> <!-- end row -->
        </div> <!-- end container-fluid -->
    </div> <!-- end #wrap -->

    <footer>
        <div class="pull-left">
            <!--
            <script type="text/javascript">
            google_ad_client = "ca-pub-2435759852249095";
            google_ad_slot = "2751979843";
            google_ad_width = 468;
            google_ad_height = 60;
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            -->
        </div>
        <div class="pull-right">
            &copy; <%= Date.today.year %> raceweb.ca victoria bc<br/>
            all rights reserved<br/>
            email: <a href="mailto:info@raceweb.ca" rel="tooltip" title="email address">info@raceweb.ca</a>
        </div>
        <div class="clear"></div>
    </footer> <!-- end footer -->

    <!-- hidden modal forms -->
    <div id="registration-form" class="modal hide fade"></div>
    <div id="login-form" class="modal hide fade"></div>

    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>